{% extends 'base.html' %}
{% load static %}
{% block title %} Show Project Details {% endblock title %}

{% block content %}
        <div>
          <h1>  {{ project_object.name }} </h1>
          <p> {{ project_object.description }}</p>
          <h2> Tasks </h2>
          {% if project_object.tasks.all|length == 0 %}
          <p> This project has no tasks </p>
          {% else %}
               <table class="styled-table">
                   <thead>
                       <tr>
                            <th> Name </th>
                            <th> Assignee </th>
                            <th> Start date </th>
                            <th> Due date </th>
                            <th> Is completed </th>
                       </tr>
                  </thead>
                   <tbody>
                      {% for task in project_object.tasks.all %}
                      <tr class="active-row">
                          <td> {{ task.name }} </td>
                          <td> {{ task.assignee }} </td>
                          <td> {{ task.start_date }} </td>
                          <td> {{ task.due_date }} </td>
                          <td> {{ task.is_complete|yesno:"yes, no" }} </td>
                      </tr>
                       {% endfor %}
                  </tbody>
              </table>
            {% endif %}
            <a href='{% url "edit_project" project_object.id %}'>
                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/edxgdhxu.json"
                    trigger="hover"
                    title="Edit this project"
                    colors="primary:#9cf4a7,secondary:#c69cf4"
                    state="hover-1"
                    style="width:60px;height:60px">
                </lord-icon>
              </a>
        </div>
{% endblock content %}
